<a href="https://colab.research.google.com/github/elliebenn/data_samples/blob/master/Working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
# Lets create a datafram a dictionary
# We know we are creating a dictionary because we see {key: values}
shoesample1 = pd.DataFrame({'Favorite style': ['Slip-ons', 'High-Tops', 'Running', 'Casual'], 'Favorite Brands': ['Vans', 'New Balance', 'Nike', 'Converse']},
                           index = [0,1,2,3])

In [0]:
shoesample1

In [0]:
colorsample2 = pd.DataFrame({'Favorite Colors': ['Red', 'Green', 'Gray', 'Teal'], 'Favorite Nail Polish Brands': ['OPI', 'Orly', 'Essie', 'Sally Hansen']}, index = [0,1,2,3])

In [7]:
colorsample2

  Favorite Colors Favorite Nail Polish Brands
0             Red                         OPI
1           Green                        Orly
2            Gray                       Essie
3            Teal                Sally Hansen

In [10]:
# Lets combine these two
datasamples = [shoesample1, colorsample2]
datasamples

[  Favorite style Favorite Brands
 0       Slip-ons            Vans
 1      High-Tops     New Balance
 2        Running            Nike
 3         Casual        Converse,
   Favorite Colors Favorite Nail Polish Brands
 0             Red                         OPI
 1           Green                        Orly
 2            Gray                       Essie
 3            Teal                Sally Hansen]

In [12]:
totaldata = pd.concat(datasamples)
totaldata

  Favorite style Favorite Brands Favorite Colors Favorite Nail Polish Brands
0       Slip-ons            Vans             NaN                         NaN
1      High-Tops     New Balance             NaN                         NaN
2        Running            Nike             NaN                         NaN
3         Casual        Converse             NaN                         NaN
0            NaN             NaN             Red                         OPI
1            NaN             NaN           Green                        Orly
2            NaN             NaN            Gray                       Essie
3            NaN             NaN            Teal                Sally Hansen

In [0]:
animalsample3 = pd.DataFrame({'Favorite Animals': ['Dog', 'Cat', 'Dolphin', 'Mouse'], 'Favorite Pet Names': ['Ottis', 'Kenny', 'Maci', 'Sally']}, index = [0,1,2,3])

In [14]:
animalsample3

  Favorite Animals Favorite Pet Names
0              Dog              Ottis
1              Cat              Kenny
2          Dolphin               Maci
3            Mouse              Sally

In [0]:
NEWTOTALDATA = pd.concat([shoesample1, colorsample2, animalsample3], axis = 1).reindex(shoesample1.index)

In [17]:
NEWTOTALDATA

  Favorite style Favorite Brands  ... Favorite Animals Favorite Pet Names
0       Slip-ons            Vans  ...              Dog              Ottis
1      High-Tops     New Balance  ...              Cat              Kenny
2        Running            Nike  ...          Dolphin               Maci
3         Casual        Converse  ...            Mouse              Sally

[4 rows x 6 columns]

In [18]:
# checking for null and nan values
NEWTOTALDATA.isnull().values.any()

False

In [19]:
# checking for null and nan values
NEWTOTALDATA.isna().values.any()

False

In [0]:
NEWTOTALDATA = NEWTOTALDATA.replace('Nan', '')

In [0]:
NEWTOTALDATA.fillna(0)

In [21]:
NEWTOTALDATA.fillna("") # quiesest way to identify NULL/Nan values

  Favorite style Favorite Brands  ... Favorite Animals Favorite Pet Names
0       Slip-ons            Vans  ...              Dog              Ottis
1      High-Tops     New Balance  ...              Cat              Kenny
2        Running            Nike  ...          Dolphin               Maci
3         Casual        Converse  ...            Mouse              Sally

[4 rows x 6 columns]

In [0]:
datasample4 = pd.DataFrame({'Favorite Computures': ['HP', 'Toshiba', 'Apple']}, index = [0,1,2])

In [24]:
NEWTOTALDATA = NEWTOTALDATA.append(datasample4)
NEWTOTALDATA

  Favorite style Favorite Brands  ... Favorite Pet Names Favorite Computures
0       Slip-ons            Vans  ...              Ottis                 NaN
1      High-Tops     New Balance  ...              Kenny                 NaN
2        Running            Nike  ...               Maci                 NaN
3         Casual        Converse  ...              Sally                 NaN
0            NaN             NaN  ...                NaN                  HP
1            NaN             NaN  ...                NaN             Toshiba
2            NaN             NaN  ...                NaN               Apple
0            NaN             NaN  ...                NaN                  HP
1            NaN             NaN  ...                NaN             Toshiba
2            NaN             NaN  ...                NaN               Apple

[10 rows x 7 columns]

In [25]:
NEWTOTALDATA.fillna("")

  Favorite style Favorite Brands  ... Favorite Pet Names Favorite Computures
0       Slip-ons            Vans  ...              Ottis
1      High-Tops     New Balance  ...              Kenny
2        Running            Nike  ...               Maci
3         Casual        Converse  ...              Sally
0                                 ...                                     HP
1                                 ...                                Toshiba
2                                 ...                                  Apple
0                                 ...                                     HP
1                                 ...                                Toshiba
2                                 ...                                  Apple

[10 rows x 7 columns]

In [0]:
NEWTOTALDATA = pd.concat([shoesample1, colorsample2, animalsample3, datasample4], axis = 1).reindex(shoesample1.index)

In [28]:
NEWTOTALDATA
NEWTOTALDATA.fillna("")

  Favorite style Favorite Brands  ... Favorite Pet Names Favorite Computures
0       Slip-ons            Vans  ...              Ottis                  HP
1      High-Tops     New Balance  ...              Kenny             Toshiba
2        Running            Nike  ...               Maci               Apple
3         Casual        Converse  ...              Sally

[4 rows x 7 columns]

In [0]:
#figure out how to download to local drive or google cloud
NEWTOTALDATA.to_csv(r"C:\Users\elizabethbenitez\Downloads\Structured.csv")

In [29]:
import base64
from IPython.display import HTML
def create_download_link(df3, title = 'Download CSV file', filename = "Structured.csv"):
  csv = NEWTOTALDATA.to_csv()
  b64 = base64.b64encode(csv.encode())
  payload = b64.decode()
  html = '<a download="{filename}" href = "data:text/csv:base64,{payload}" target= "_blank">{title}</a>'
  html = html.format(payload = payload,title=title,filename=filename)
  return HTML(htmsl)

create_download_link(NEWTOTALDATA)

NameError: ignored